<a href="https://colab.research.google.com/github/Iftekhirul-kom/Data_Science_Projects/blob/main/naiveBayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [ ]:
df = pd.read_csv("tic-tac-toe.csv")
df.head()

  top-left-square top-middle-square  ... bottom-right-square     Class
0               x                 x  ...                   o  positive
1               x                 x  ...                   o  positive
2               x                 x  ...                   x  positive
3               x                 x  ...                   b  positive
4               x                 x  ...                   b  positive

[5 rows x 10 columns]

In [ ]:
le = LabelEncoder()
df["Class"] = le.fit_transform(df["Class"])
df

    top-left-square top-middle-square  ... bottom-right-square Class
0                 x                 x  ...                   o     1
1                 x                 x  ...                   o     1
2                 x                 x  ...                   x     1
3                 x                 x  ...                   b     1
4                 x                 x  ...                   b     1
..              ...               ...  ...                 ...   ...
953               o                 x  ...                   x     0
954               o                 x  ...                   x     0
955               o                 x  ...                   x     0
956               o                 x  ...                   x     0
957               o                 o  ...                   x     0

[958 rows x 10 columns]

In [ ]:
#Features and label
x = df.iloc[:,:-1]
y = df.iloc[:,-1]
y.value_counts()

1    626
0    332
Name: Class, dtype: int64

In [ ]:
def FIT(x,y):
  total = y.count()
  values = y.value_counts()

  total_0 = values[0]
  total_1 = values[1]

  FIT.P_0 = total_0 / total
  FIT.P_1 = total_1 / total

  global prob_val_arr
  prob_val_arr = []

  df_temp = pd.concat([x, y],axis=1)


  for col in x:
      uni_feat = x[col].unique()

      count_value = df_temp.groupby(col)['Class'].value_counts()
      prob_value = df_temp.groupby(col)['Class'].value_counts() / df_temp.groupby(col)['Class'].count()

      i = 0
      j = 1
      prob_val_dict = {}

      for it in uni_feat:
        prob_val_dict[it] = [prob_value[i],prob_value[j]]
        i += 2
        j += 2
      prob_val_arr.append(prob_val_dict)

      #print(prob_value)

  #return prob_val_arr

In [ ]:
def Predict(x):
  predicted_lst = []

  for row in range(0,len(x.index)):
    idx = 0
    temp_1 = 0
    temp_0 = 0
    feat_1 = 1
    feat_0 = 1
    for each in x.iloc[row]:
      temp_1 = prob_val_arr[idx][each][0]
      feat_1 = feat_1 * temp_1

      temp_0 = prob_val_arr[idx][each][1]
      feat_0 = feat_0 * temp_0
      idx += 1

    feat_1 = feat_1 * FIT.P_1
    feat_0 = feat_0 * FIT.P_0

    if feat_1 <= feat_0:
      predicted_lst.append(feat_0)
    else:
      predicted_lst.append(feat_1)

  return predicted_lst

In [ ]:
train_x, test_x, train_y, test_y  = train_test_split(x, y, test_size = 0.1)
train_x1, test_x1, train_y1, test_y1  = train_test_split(x, y, test_size = 0.1, stratify = y)

In [ ]:
fit = FIT(train_x,train_y)
predict = Predict(test_x)

fit_1 = FIT(train_x1,train_y1)
predict_1 = Predict(test_x1)

In [ ]:
acc = accuracy_score(test_y, predict)
acc_1 = accuracy_score(test_y1, predict_1)

ValueError: ignored

In [ ]:
precision = precision_score(test_y, predict)
precision_1 = precision_score(test_y1, predict_1)

In [ ]:
recall = recall_score(test_y, predict)
recall_1 = recall_score(test_y1, predict_1)

In [ ]:
f1 = f1_score(test_y, predict)
f1_1 = f1_score(test_y1, predict_1)