<a href="https://colab.research.google.com/github/Iftekhirul-kom/Data_Science_Projects/blob/main/Support_Vector_Machine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from pandas.api.types import is_string_dtype

data = pd.read_csv('adult.csv')
for col in data.columns:
  if (is_string_dtype(data[col].dtype)):
    data[col] = data[col].str.strip()

data = data.replace(['?'],'NaN')

In [ ]:
data

       age        work-class  fnlwgt  ... hours-per-week  native-country salary
0       39         State-gov   77516  ...             40   United-States  <=50K
1       50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2       38           Private  215646  ...             40   United-States  <=50K
3       53           Private  234721  ...             40   United-States  <=50K
4       28           Private  338409  ...             40            Cuba  <=50K
...    ...               ...     ...  ...            ...             ...    ...
32556   27           Private  257302  ...             38   United-States  <=50K
32557   40           Private  154374  ...             40   United-States   >50K
32558   58           Private  151910  ...             40   United-States  <=50K
32559   22           Private  201490  ...             20   United-States  <=50K
32560   52      Self-emp-inc  287927  ...             40   United-States   >50K

[32561 rows x 15 columns]

In [ ]:
from sklearn.model_selection import train_test_split

x = data.loc[:, data.columns != 'salary']
y = data['salary']

train_x, test_x, train_y, test_y = train_test_split(x, y, test_size=0.15, stratify=y, random_state=1)

In [ ]:
from sklearn.impute import SimpleImputer
from pandas.api.types import is_string_dtype
si_train_x = pd.DataFrame()
si_test_x = pd.DataFrame()

for col in train_x.columns:
  if (is_string_dtype(train_x[col].dtype)):
    si = SimpleImputer(strategy='most_frequent')
  else:
    si = SimpleImputer(strategy='median')

  si.fit(train_x[[col]])
  si_train_x[col] = si.transform(train_x[[col]]).flatten()
  si_test_x[col] = si.transform(test_x[[col]]).flatten()

si_train_x.head(10)

    age        work-class  ...  hours-per-week native-country
0  48.0           Private  ...            50.0  United-States
1  27.0           Private  ...            40.0  United-States
2  21.0           Private  ...            20.0  United-States
3  24.0           Private  ...            40.0  United-States
4  45.0  Self-emp-not-inc  ...            40.0  United-States
5  46.0           Private  ...            40.0  United-States
6  57.0           Private  ...            40.0    Philippines
7  17.0           Private  ...            20.0  United-States
8  36.0               NaN  ...            30.0  United-States
9  25.0           Private  ...            45.0  United-States

[10 rows x 14 columns]

In [ ]:
from sklearn.preprocessing import Binarizer

categorical_features = ['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']


b_si_train_x = pd.DataFrame()
b_si_test_x = pd.DataFrame()

for col in train_x.columns:
  if col in categorical_features:
    bin = Binarizer(threshold=si_train_x[col].median())
    b_si_train_x[col] = bin.transform(si_train_x[[col]]).flatten()
    b_si_test_x[col] = bin.transform(si_test_x[[col]]).flatten()
  else:
    b_si_train_x[col] = si_train_x[col].copy()
    b_si_test_x[col] = si_test_x[col].copy()

b_si_train_x.isnull().values.any()

False

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

le.fit(train_y)
train_y = le.transform(train_y)
test_y = le.transform(test_y)

le_b_si_train_x = pd.DataFrame()
le_b_si_test_x = pd.DataFrame()

b_si_train_x.reset_index(drop=True, inplace=True)
b_si_test_x.reset_index(drop=True, inplace=True)

for col in train_x.columns:
  if col not in categorical_features:
    le.fit(b_si_train_x[[col]])
    le_b_si_train_x[col] = le.transform(b_si_train_x[[col]]).flatten()
    le_b_si_test_x[col] = le.transform(b_si_test_x[[col]]).flatten()
  else:
    le_b_si_train_x[col] = b_si_train_x[col].copy()
    le_b_si_test_x[col] = b_si_test_x[col].copy()

le_b_si_train_x.head(20)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

    age  work-class  fnlwgt  ...  capital-loss  hours-per-week  native-country
0   1.0           4     1.0  ...           0.0             1.0              39
1   0.0           4     1.0  ...           0.0             0.0              39
2   0.0           4     1.0  ...           0.0             0.0              39
3   0.0           4     1.0  ...           0.0             0.0              39
4   1.0           6     1.0  ...           0.0             0.0              39
5   1.0           4     1.0  ...           0.0             0.0              39
6   1.0           4     0.0  ...           0.0             0.0              30
7   0.0           4     0.0  ...           0.0             0.0              39
8   0.0           2     0.0  ...           0.0             0.0              39
9   0.0           4     0.0  ...           0.0             1.0              39
10  1.0           4     0.0  ...           0.0             0.0              39
11  0.0           4     0.0  ...           0.0             0.0              39
12  0.0           4     0.0  ...           0.0             0.0              39
13  1.0           4     1.0  ...           0.0             0.0              39
14  0.0           4     1.0  ...           0.0             0.0              39
15  1.0           5     0.0  ...           0.0             0.0              39
16  0.0           4     0.0  ...           0.0             0.0              39
17  1.0           6     0.0  ...           0.0             0.0              39
18  0.0           4     1.0  ...           0.0             0.0              39
19  0.0           4     0.0  ...           0.0             0.0              39

[20 rows x 14 columns]

In [ ]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()

ss.fit(le_b_si_train_x)
ss_train_x = ss.transform(le_b_si_train_x)
ss_test_x = ss.transform(le_b_si_test_x)
ss_test_x

array([[-0.97671275,  0.08188056,  1.        , ..., -0.21975811,
        -0.64740752,  0.29074504],
       [ 1.02384247,  0.08188056, -1.        , ..., -0.21975811,
        -0.64740752,  0.29074504],
       [ 1.02384247,  0.08188056,  1.        , ..., -0.21975811,
        -0.64740752,  0.29074504],
       ...,
       [ 1.02384247,  0.08188056, -1.        , ..., -0.21975811,
        -0.64740752,  0.29074504],
       [ 1.02384247,  0.08188056,  1.        , ..., -0.21975811,
        -0.64740752,  0.29074504],
       [-0.97671275,  0.08188056,  1.        , ..., -0.21975811,
        -0.64740752,  0.29074504]])

In [ ]:
from sklearn.svm import SVC
svc  = SVC()

svc.fit(ss_train_x, train_y)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
from sklearn.metrics import accuracy_score, f1_score

predict_y = svc.predict(ss_test_x)
acc = accuracy_score(test_y, predict_y)
f1 = f1_score(test_y, predict_y)

print(acc,f1)

0.8274309109518936 0.5983801810385898